<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User-edit</title>
</head>
<body>
    <h3>User Edit Page</h3>
    <h1>Edit a user</h1>
    <form action="/users" method="post"></form>
    <input name="first" type="text">
    <label for="last">Last Name</label>
    <input name="last" type="text">
    <label for="first">First Name</label>
    <input name="img" type="url">
    <label for="img">Image URL</label>
    <button class="cancel" type="reset">Cancel</button>
    <button class="save" type="submit">Save</button>
</body>
</html>