<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User-detail</title>
</head>
<body>
  <img class="profile_pic" src={{user.img_url}} alt="profile pic">
  <h1>{{user.first_name}} {{user.last_name}}</h1>
    <form method="GET" action="/{{user.id}}/edit">  
    <button class="edit_btn" name="edit">Edit</button>
    </form><br><br>
    <form method="POST" action="/{{user.id}}/delete">
    <button class="delete" name="delete">Delete</button>
    </form>
    
    <h1>Posts</h>
    <form class="post" id="post">
    <ul>
      {% if user.posts %}
      {% for post in user.posts %}
      <li><a href="/{{post.id}}/">{{post.title}}</a></li>
      {% endfor %}
      {% endif %}
    </ul><br>
      <a href="/{{user.id}}/create_post">Add post</a>
    </form>    
</body>
</html>